body{
  font-family: 'Lato', sans-serif;
  font-size:16px;
  color: #2e3d49;
  font-weight: 300;
  background-image: url("../images/p6.png");
  padding-top: 20px;
}

.navbar {
    min-height: 80px;
}

.navbar-nav {
    margin: 7.5px -15px;
}
.navbar-default {
    background-color: #1C1C1C;
}

.navbar-brand{
    height:80px;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
    font-size: large;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #FFF;
}

.navbar-default .navbar-nav>li>a:visited {
    color: #FFF;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #1C1C1C;
}

.modal-header {
    background-color: black;
    color: white;
    border: 1px solid #1C1C1C;
}

.modal-dialog{
    width:80%;
}
h4, .h4 {
    font-size: 16px;
    font-weight: bold;
}

hr {
    width: 60%;
    background-color: #fff;
    border-top: 2px dotted #000;
    margin-top: 40px;
}

.header{
  display: block;
}
.header-mobile{
  display: none;
}
.img-center{
    margin:auto;
}
.text-muted{
  color: #BCBBBB;
}

.text-thin{
  font-weight: 100;
}

.title{
  color:#FFFFFF;
  font-size: 20px;
  margin-top:10px;
}
.title-super{
   font-weight:bold;
 }
 .sub-title{
    font-size: 18px;
 }
.title-logo{
  margin-top: 7px;
}

.row-block{
  margin-top: 20px;
}
.frontend-title-block{
  margin-top: 20px;
  margin-bottom: 20px;
}
.frontend-link-block {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.row

.container-non-responsive {
  /* Margin/padding copied from Bootstrap */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  /* Set width to your desired site width */
  width: 1170px;
}

.content{
    padding: 20px;
    background-color:white;
}


@media only screen and (max-width: 768px) {
    .header{
      display: none;
    }
    .header-mobile{
      display: block;
    }
}
