<div class="content">
    <h2 class="modal-title" id="acdaLabel">{{content.acda.title}}</h2>
    <div class="clearfix"></div>
    <div btf-markdown="content.acda.description">
    </div>
    <div class="row row-block" ng-repeat="event in content.acda.talks">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">
                    <img src="{{event.image}}" class="img-thumbnail" alt="{{event.title}}">
                </div>
                <div class="col-md-10">
                    <h4>{{event.title}}</h4>
                    {{event.description}}<br/>
                </div>
            </div>

        </div>
    </div>
</div>