<div class="content">
    <h2 class="modal-title" id="acdaLabel">{{content.bass.title}}</h2>
    <div class="clearfix"></div>
    <div btf-markdown="content.bass.description">
    </div>
    <div class="row row-block">
        <div class="col-md-12">
            <div class="row">
                <iframe width="400" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/266539365&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
            </div>

        </div>
    </div>
</div>