<div class="row frontend-title-block">
    <div class="col-md-4 text-center">
        <hr class="hr"/>
    </div>
    <div class="col-md-4 text-center">
        <h1>{{content.home.title}}</h1>

    </div>
    <div class="col-md-4 text-center">
        <hr class="hr"/>

    </div>
</div>
<div class="row text-center row-block">
    <div class="col-md-3 ">
        <a href="#/{{lang}}/acda" class="frontend-link-block" data-toggle="modal" data-target="#acdaModal">
            <img class="img-responsive img-center img-circle" src="images/acda.png" border="0" alt="{{content.home.science_divulgation_title}}">
            {{content.home.science_divulgation_title}}
        </a>
        <!--<div class="frontend-text-block">I'm member of the Colombian Asociation of Astronomic Studies ACDA: A nonprofit organization advocated to promote and divulge Astronomy and related sciences
        </div>-->
    </div>
    <div class="col-md-3 ">
        <a href="#/{{lang}}/portfolio" class="frontend-link-block">
            <img class="img-responsive img-center img-circle" src="images/web.png" border="0" alt="{{content.home.portfolio_title}}">
            {{content.home.portfolio_title}}
        </a>
        <!--<div class="frontend-text-block">
            Project I been involved over the years as a full stack software developer.
        </div>-->
    </div>
    <div class="col-md-3 ">
        <a href="#/{{lang}}/bass" class="frontend-link-block">
            <img class="img-responsive img-center img-circle" src="images/bass.png" border="0" alt="{{content.home.bass_title}} - Image created by Parker Foote from Noun Project">
            {{content.home.bass_title}}
        </a>
        <!--<div class="frontend-text-block">
            Recently found a new passion playing bass guitar. I hope to upload something decent in the <span style="text-decoration: line-through">near</span> future.
        </div>-->
    </div>
    <div class="col-md-3 ">
        <a href="https://twitter.com/mrugeles" target="_blank" class="frontend-link-block">
            <img class="img-responsive img-center img-circle" src="images/email.png" border="0" alt="{{content.home.contact_title}}">
            {{content.home.contact_title}}
        </a>
        <!--<div class="frontend-text-block">
            Questions, inquiries, suggestions, reclaims (seriously, reclaims??), just contact me.
        </div>-->
    </div>
</div>
<!--<div class="row">
  <div class="col-md-12">
    <h2 class="text-muted">Featured Projects</h2>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-4">
    <img src="images/pet360.png" class="img-responsive">
    <h3>Pet360</h3>
    <p><a href="http://www.pet360.com">Link to project</a></p>
  </div>
  <div class="col-md-4">
    <img src="images/flybox.png" class="img-responsive">
    <h3>Flybox</h3>
    <p><a href="http://flybox.com">Link to project</a></p>
  </div>
  <div class="col-md-4">
    <img src="images/deprisa.png" class="img-responsive">
    <h3>Deprisa.com</h3>
    <p><a href="http://deprisa.com">Link to project</a></p>
  </div>
</div>-->

</div>