<div class="content">
    <h2 class="modal-title" id="acdaLabel">{{content.portfolio.title}}</h2>
    <div class="clearfix"></div>
    <div btf-markdown="content.portfolio.description">
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <img src="images/digitalturbine.png" class="img-responsive img-thumbnail">
            <h4>Digital Turbine</h4>
            <p><a href="http://digitalturbine.com">Link to project</a></p>
        </div>
        <div class="col-md-4">
            <img src="images/pet360.png" class="img-responsive img-thumbnail">
            <h4>Pet360</h4>
            <p><a href="http://www.pet360.com">Link to project</a></p>
        </div>

        <div class="col-md-4">
            <img src="images/activa-rgc.png" class="img-responsive img-thumbnail">
            <h4>RGS Activa</h4>
            <p><a href="http://rgcactiva.com.com">Link to project</a></p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <img src="images/avianca-link.png" class="img-responsive img-thumbnail">
            <h4>Avianca Link</h4>
            <p><!--<a href="http://www.avianca-link.com">Link to project</a>--></p>
        </div>
        <div class="col-md-4">
            <img src="images/flybox.png" class="img-responsive img-thumbnail">
            <h4>Flybox</h4>
            <p><a href="http://flybox.com">Link to project</a></p>
        </div>
        <div class="col-md-4">
            <img src="images/deprisa.png" class="img-responsive img-thumbnail">
            <h4>Deprisa.com</h4>
            <p><a href="http://deprisa.com">Link to project</a></p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <img src="images/acda-web.png" class="img-responsive img-thumbnail">
            <h4>ACDA</h4>
            <p><a href="http://www.acda.info">Link to project</a></p>
        </div>
        <div class="col-md-4">
            <img src="images/stanley.png" class="img-responsive img-thumbnail">
            <h4>Stanley Tools LATAM</h4>
            <p><!--<a href="http://flybox.com">Link to project</a>--></p>
        </div>
        <div class="col-md-4">
            <img src="images/deprisa.png" class="img-responsive img-thumbnail">
            <h4>Discover AD Sales Portal</h4>
            <p><!--<a href="http://deprisa.com">Link to project</a>--></p>
        </div>
    </div>
</div>